:root
{
    --text-color: rgb(255, 255, 255);
    --bkg-color: rgb(255, 255, 255);
    --separador-color: rgb(255, 255, 255);
}
* 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
body
{
    background-image: url(https://i.pinimg.com/originals/9e/4c/54/9e4c5447abdeb94e87507ec8bd95d6ff.gif);
    background-size: cover;
}
.page-title > *
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.separador 
{
    border: 1px solid var(--separador-color);
}